/* styles.css for Ellen portfolio page */

/* Solutions for the homework by Paul Mazaitis; as always, ask if you have questions about anything I have in here! */

/* You can use a single import for all of your typefaces, or set up a different import for each typeface you want to use. */
@import url(https://fonts.googleapis.com/css?family=Patrick+Hand);
@import url(https://fonts.googleapis.com/css?family=Lato);

body {
  font-family: Lato, sans-serif;
  line-height: 1.4;
}

h1, h2 {
  font-family: "Patrick Hand", Helvetica, sans-serif;
  color: darkblue;
  padding: 8px;
  margin-bottom: 0px;
}

h1 {
  border-bottom: solid darkblue 2px;
  padding-bottom: 2px;
  margin-top: 14px;
  margin-bottom: 3px;
}

h2 {
  margin-top: 11px;
}

p {
  width: 700px; /* Limit our line length for all paragraphs using a static dimension */
  margin-top: 4px;
}

ul, ol {
  line-height: 1.3;
  margin-top: 3px;
}

header {
  background-color: darkblue;
  padding: 20px 50px 20px 50px;
  width: 90%;
  margin: 0px auto;
  overflow: auto;
  box-sizing: border-box; /* Keeping the padding from screwing up our centering */
}

header img {
  float: right;
  margin: 15px;
}

header h1 {
  color: white;
  font-size: 350%;
  border-bottom: none;
  margin-top: 0px;
}

header h2 {
  color: white;
  border-bottom: none;
}

main {
  width: 80%;
  margin: 0px auto; 
}

footer {
  background-color: darkblue;
  padding: 10px 50px;
  width: 90%;
  margin: 0px auto;
  color: white;
  box-sizing: border-box;
}

/* Portfolio */

#portfolio_spread img {
  width: 150px;
  margin-top: 40px;
}

#portfolio_spread p {
  width: auto;
}

#portfolio_spread {
  display: flex;
  flex-direction: column;
}

.fleurons, .turtles {
  flex: 1;
  display: flex;
}

#portfolio_spread section {
  flex: 1;
  display: flex;
  margin: 15px;
}

#portfolio_spread section div {
  flex: 1;
}

/* Styles for the whitepapers page */


#whitepapers {
  display: flex;
  margin: 10px 50px;
}

#whitepapers p {
  width: auto;
}

#whitepapers main {
  flex: 4;
  margin: 0px 10px;
}

#whitepapers aside {
  flex: 1;
  margin: 0px 10px;
  background-color: aliceblue;
  padding: 8px;
}