/* position.css
 *
 * Position CSS File, for messing about a bit with position
 *
 * Author: Paul Mazaitis
 */


/*
 * Font imports
 */


/*
 * Drawing a Black Border Around Everything
 */


/* We can uncomment the next block to draw boxes around everything; The asterisk selector '*' selects everything  */


/*
* {
  border-style: solid;
  border-color: black;
  border-width: 1px;
}
*/


/* We can also use the shorthand notation for this: */


/*
* {
 border: solid black 1px;
}
*/


/* Various and sundry setups for the body, header and footer */

body {
  font-family: sans-serif;
  line-height: 1.3;
}

h1,
h2 {
  margin-top: 8px;
  margin-bottom: 0px;
}

p {
  margin-top: 4px;
}

header,
footer {
  margin: 20px, 0px;
  padding: 20px;
  background-color: darkgray;
  color: white;
  text-align: center;
}

header {}

footer {
  font-style: italic;
}


/* Laying out the introduction */

main {
  width: 80%;
  margin: 0px auto;
}

main p img {
  margin: 20px;
  float: right;
  width: 150px;
}

main p {
  padding: 8px;
  margin-bottom: 20px;
}

.graybox {
  background-color: lightgray;
}

/* Page Layout 
 *
 * We want to have a vertical stack of:
 *
 *
 *  ┌─────────────────────────────────┐
 *  │             Header              │
 *  └─────────────────────────────────┘
 *  ┌─────────────────────────────────┐
 *  │                                 │
 *  │                                 │
 *  │            .content             │
 *  │                                 │
 *  │                                 │
 *  │                                 │
 *  └─────────────────────────────────┘
 *  ┌─────────────────────────────────┐
 *  │             footer              │
 *  └─────────────────────────────────┘
 *
 * To accomplish this, we can use Normal Flow, and
 * just let these stack as usual with the default of
 * {display: block} .
 *
 * Inside the .content block, though, we want to divide
 * our content into three columns:
 *
 *  ┌─────────┐┌───────────────────────────────────┐┌─────────┐
 *  │         ││                                   ││         │
 *  │         ││                                   ││         │
 *  │         ││                                   ││         │
 *  │         ││                                   ││         │
 *  │   nav   ││               main                ││  aside  │
 *  │         ││                                   ││         │
 *  │         ││                                   ││         │
 *  │         ││                                   ││         │
 *  │         ││                                   ││         │
 *  └─────────┘└───────────────────────────────────┘└─────────┘
 *
 * ...so we want to make .content a flex container, and then set
 * the size ratios of nav, main, and aside to give us the affect we want.
 *
 */





/* Sections for the list of things */
