/* scratch.css
 *
 * Scratch CSS File, for messing about a bit
 *
 * Author: Paul Mazaitis
 */

/*
 * Font imports
 */

@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:700|Lato:400,700|Patrick+Hand);

/*
 * Drawing a Black Border Around Everything
 */


/* We can uncomment the next block to draw boxes around everything; The asterisk selector '*' selects everything (you can combine this with other selectors) */

/*
* {
  border-style: solid;
  border-color: black;
  border-width: 1px;
}
*/

/* We can also use the shorthand notation for this: */

/*
* {
 border: solid black 1px;
}
*/


/* Set a base font for everything in the body */

body {
  font-family: "Lato", sans-serif;
}

/* Change up the font for the headers */

h1, h2 {
  font-family: "Patrick Hand", sans-serif;
  color: #666666;
}

p {

}

img {

}
